body {
  margin: 0;
  background-color: #777;
  overflow: hidden;
}

#lefty {
  position: fixed;
  left: 0;
  width: 4%;
  height: 100%;
  z-index: 10000;
  transition: filter 0.8s ease;
}

#lefty:hover {
  background: linear-gradient(to right, #33333399, #00000000);
  filter: drop-shadow(0 0 0.1em #c11);
}

#lefty.nohover {
  z-index: -1;
}

#lefty.nohover:hover {
  background: none;
  filter: none;
}

#righty {
  position: fixed;
  right: 0;
  width: 3%;
  height: 100%;
  z-index: 10000;
  transition: filter 0.8s ease;
}

#righty:hover {
  background: linear-gradient(to left, #33333399, #00000000);
  filter: drop-shadow(0 0 0.1em #c11);
}

#righty.nohover {
  z-index: -1;
}

#righty.nohover:hover {
  background: none;
  filter: none;
}

#screenshots-container {
  display: grid;
  gap: 1em;
  padding: 0.5em;
}

.image-container {
  position: relative;
  transition:
    width 0.5s ease,
    height 0.5s ease;
}

.image-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 0.5em;
  border: 2px solid black;
  box-sizing: border-box;
  transition:
    transform 0.5s ease,
    filter 0.5s ease,
    width 0.5s ease,
    height 0.5s ease;
}

.gray-blurred {
  filter: grayscale(1) blur(0.5em);
}

.selected {
  border: 2px solid #ca0 !important;
}

.close {
  position: absolute;
  right: 1em;
  top: 1em;
  cursor: pointer;
}

.close:hover {
  filter: drop-shadow(0 0 0.1em #c11);
}

.screenshot-thumbnail {
  width: 100%;
  min-height: 100%;
  cursor: pointer;
  position: relative;
  transition:
    transform 0.5s ease,
    filter 0.5s ease;
}

.screenshot-info {
  position: absolute;
  bottom: 5%;
  left: 0;
  width: 80%;
  text-align: center;
  margin-left: 10%;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.2em;
  color: white;
  padding: 5px;
  font-size: clamp(12px, 100%, 20px);
  font-family: "Monoid";
  cursor: pointer;
}

#filter-text {
  position: fixed;
  font-family: "Monoid";
  top: 75vh;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 1001;
  display: none;
}
