body {
  margin: 0;
  background-color: #777;
  overflow: hidden;
}

#screenshots-container {
  display: grid;
  gap: 1em;
  padding: 0.5em;
}

.image-wrapper {
  overflow: hidden;
  border-radius: 0.5em;
  border: 2px solid black;
  box-sizing: border-box;
}

.selected {
  border: 2px solid #ca0 !important;
}

.screenshot-thumbnail {
  width: 100%;
  min-height: 100%;
  cursor: pointer;
  position: relative;
}

.screenshot-info {
  position: absolute;
  bottom: 5%;
  left: 0;
  width: 80%;
  text-align: center;
  margin-left: 10%;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.2em;
  color: white;
  padding: 5px;
  font-size: clamp(12px, 100%, 20px);
  font-family: "Monoid";
}

#filter-text {
  position: fixed;
  font-family: "Monoid";
  top: 75vh;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 1001;
  display: none;
}
